*.o
obj
a.out
webserv
webserv.dSYM
.*.swp
.DS_Store
.vscode
webserv.xcworkspace

################################################################################
# Nginx
################################################################################
nginx-1.28.0
nginx-1.28.0.tar.gz
nginx-1.29.3
nginx-1.29.3.tar.gz
nginx-test
